@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

.aboutContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 80px;
   margin-bottom: 40px;
   margin-top: 50px;
  
}
.aboutContainer h1 {
    font-size: 45px;
    color: #206fb5f6;
    font-family: 'Playfair Display', serif;
}
h2 {
    font-size: 35px;
    margin-top: 50px;
    color: #206fb5f6;
    font-family: 'Playfair Display', serif;
}

.mainAbt {
    padding: 10px;
    font-size: 18px;
    color: #535859;
}
@media screen and (max-width:400px) {
    .mainAbt {
        font-size: 18px;
    }
    .aboutContainer h1 {
        font-size: 28px;
    }
    .aboutContainer h2 {
        font-size: 28px;
    }
}

li {
    color: #535859;
}

.getStarted {
    color: #535859;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

li b {
color: #206fb5f6;
font-size: 19px;
}