@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&family=Heebo:wght@100;200;300;400;500;600;700&family=IBM+Plex+Mono:ital,wght@0,400;0,500;1,400&family=IBM+Plex+Sans+Hebrew:wght@400;500;600;700&family=Kablammo&family=Lobster&family=Love+Ya+Like+A+Sister&family=Oswald:wght@200;300;400;500;600;700&family=Satisfy&family=Sigmar&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}





